<div class="container main_div ">
    <div class="row justify-content-center img_div">
        <div class="col-1 logo_div ">
            <img routerLink="/home"  class="Sugarlogo rounded mx-auto d-block" src="https://i.imgur.com/gqXCOOj.png" alt="Sugar and Spice Logo" >
        
        </div>
    </div>
    <div class="row justify-content-center  ">
        <div class="col-2 topnav" >
            <ul class="ul_1 nav-item">
                <li >
                    <button class="butt" routerLink="home">Home</button> 
                </li>
                <li >
                    <button class="butt" routerLink="order">Order&nbsp;now</button> 
                </li>
                <li >
                    <button class="butt" routerLink="about">about</button> 
                </li>
                
                <li>
                    <button class="butt"  >contact&nbsp;us</button> 
                </li>
                <li>
                    <button class="butt" routerLink="sign-up">sign&nbsp;us</button> 
                </li>
                
            </ul>
        </div>   
    </div>
</div>


