<div>
    <img  class="main_gallery" src="https://i.imgur.com/CrtjHy1.jpg" alt="home main_gallery">
    <div #con></div>
<div class="container marAl">
    <div class="row justify-content-center">
        
        <div  class="col-2 text-center colFix">
            <h4>address</h4>
            <p>825/1<br>tewatta rd,<br>ragama</p>
    
        </div >
        <div class="col-2 text-center colFix"> 
            <h4>hours</h4>
            <p>
                monday - friday<br>8 am - 10 pm<br><br>
                saturday - sunday<br>10 am - 10 pm
            </p>
        </div>
        <div class="col-2 text-center colFix">
            <h4>contact</h4>
            <p>
                0766309673<br>ravindudilshan299@gmail.com
            </p>
        </div>
    </div>
</div>

<div>
    <img class="gallery2" src="https://i.imgur.com/JQMZ7WN.jpg"/>
</div>

<div>
    <div>
        <img class="gallery3"src="https://i.imgur.com/th2E5CA.jpg"/>
    </div>
    <div>
        
    </div>
</div>

