<div class="colchan">
    <div class="container"> 
        <div class="row justify-content-center">
            <div class="col-3">
                <img class="img" src="https://i.imgur.com/VkhPxSM.jpg"  alt="Lasange" width="250px">
                <h5>Chiken & Cheese Lasagna</h5>
                <p>Chicken sausages & onions with a double layer of cheese.</p>
                <p>starting from Rs.890</p>
                <button>Customize</button>
            </div>
            <div class="col-3">
                <img class="img" src="https://i.imgur.com/VkhPxSM.jpg"  alt="Lasange" >
                <h5>Chiken & Cheese Lasagna</h5>
                <p>Chicken sausages & onions with a double layer of cheese.</p>
                <p>starting from Rs.890</p>
                <button>Customize</button>
            </div>
            <div class="col-3">
                <img class="img" src="https://i.imgur.com/VkhPxSM.jpg"  alt="Lasange" >
                <h5>Chiken & Cheese Lasagna</h5>
                <p>Chicken sausages & onions with a double layer of cheese.</p>
                <p>starting from Rs.890</p>
                <button>Customize</button>
            </div>
            <div class="col-3">
                <img class="img" src="https://i.imgur.com/VkhPxSM.jpg"  alt="Lasange">
                <h5>Chiken & Cheese Lasagna</h5>
                <p>Chicken sausages & onions with a double layer of cheese.</p>
                <p>starting from Rs.890</p>
                <button>Customize</button>
            </div>
        </div>
    </div>
</div>
